{% extends "@FOSUser/layout.html.twig" %}
{% set newArray = [] %}
{% block fos_user_content %}

        <div class="box-header with-border">
          <h3 class="box-title">Mes demandes d'estimations</h3>
        </div>
  <div class="box-body content">

    <table id="table_id" class="table table-striped">
        <thead>
            <tr>
                <th style="width:70%">Date</th>
                <th style="width:20%">Status</th>
                <th style="width:10%">Voir</th>
            </tr>
        </thead>
        <tbody>

    {% for est in listEstims %}

    <tr>
        <td>Votre demande du {{ est.date|localizeddate('medium', 'short', 'fr') }}

        </td>

<td><b>{% if est.answer == 1 %}Répondu{% else %}En attente...{% endif %}</b> </td>
<td>  <button class="btn btn-primary" data-toggle="collapse" data-target="#clientest{{ est.id }}"><span class="fa fa-lg  fa-search"></span> Voir</button></td>

</tr>
<tr><td colspan="3">
  <div id="clientest{{ est.id }}" class="collapse">
        <div class="alert alert-info" style="color: #444444;">
        <b>Message :</b><hr>
        {{ est.message }}<br/><br/>
        <b>Images :</b><hr>
        {% for key,value in est.images %}
          <img src="{{ asset("bundles/images/estimate/"~ value) }}" style="border-radius:50%;width:110px;height:110px;border:2px solid #3c8dbc;" alt="{{ key }}" onError="ImageLoadFailed()"/>
        {% endfor %}
  </div>

  {% if est.answer == 1 %}
  <div><hr style="margin:10px;">
        <div class="alert alert-info" style="color: #444444;"><b>Notre réponse :</b><br/><br/>
        {{ est.answercontent|raw }}
  </div></div>
  {% endif %}
</div>
</td></tr>

    {% else %}
    <tr><td colspan="5" style="background-color: rgba(13, 88, 142, 0.2);background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);">
    <b>Vous n'avez pas fait de demandes.</b> </td>  </tr>
    {% endfor %}

    </tbody>
</table>
<br/>
<ul class="pagination">
  {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
  {% for p in range(1, nbPages) %}
  {% if p == 0 %}
  {% else %}
    <li{% if p == page %} class="active"{% endif %}>
      <a href="{{ path('fos_user_profile_ordres', {'page': p}) }}">{{ p }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
</div>

{% endblock %}
